body {
	font-size: 100%;
	overflow-y:hidden;
}

.split {
	height: 100%;
	width: 50%;
	position: absolute;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 40px;
}

.left {
	left: 0;
	/*background-color: #f7f7f7;*/
}

.right {
	right: 0;
	background-color: white;
}

.content {
	position: relative;
	width: 40vw;
	height: 50vw;
	margin: auto;
	/*top: 50%;*/
}

nav {
	width: 100%;
	margin-top: 80px;
}

nav ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 6em;
	text-align: left;
	line-height: 115px;
}

nav ul li:hover {
	/*background-color: yellow;*/
	color: #ee3176;
	font-style: italic;
}

h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 2em;
	font-weight: lighter;
	color: #ee3176;
}

/*.fa-arrow-left {
	width: 100px;
	background-color: yellow;
}
*/

.clip {
  clip-path: circle(160px at center);
}

.social {
	text-align: center;
	margin-top: 40px;
	margin-left: 180px;
}

.fa-github, 
.fa-linkedin-in, 
.fa-codepen {
	margin: 10px;
}

.fa-github:hover, 
.fa-linkedin-in:hover, 
.fa-codepen:hover {
	margin: 10px;
	color: #ee3176;
}

img {
	margin-top: 60px;
	width: 280px;
	transition: all 1s ease;
}

img:hover {
	background: url(vector_lucibits_filled_gradient.svg) no-repeat;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 280px;
	animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, -20px) rotate(-45deg) scale(.9,.9);
  }

  50% {
    transform: translate(0, 5px) rotate(-45deg) scale(.9,.9);
  }
}




/*QUERIES*/
@media screen and (max-width: 1100px) {

body {
	/*font-size: 100%;*/
	/*overflow-y:hidden;*/
}


nav {
	/*width: 100%;*/
	/*margin-top: 80px;*/
	/*background-color: pink;*/
}

nav ul {
	/*overflow: hidden;*/
	/*margin: 0;*/
	/*padding: 0;*/
}

nav ul li {
	list-style-type: none;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	line-height: 70px;
}

nav ul li:hover {
	/*background-color: yellow;*/
	color: #ee3176;
	font-style: italic;
}

h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 2em;
	font-weight: lighter;
	/*margin-top: -20px;*/
	color: #ee3176;
}

/*.fa-arrow-left {
	width: 100px;
	background-color: yellow;
}
*/


.social {
	/*background-color: yellow;*/
	text-align: center;
	/*margin-top: 40px;*/
	/*margin-left: 180px;*/
	/*right: 0;*/
	/*width: auto;*/
}

.fa-github, 
.fa-linkedin-in, 
.fa-codepen {
	margin: 10px;
}

.fa-github:hover, 
.fa-linkedin-in:hover, 
.fa-codepen:hover {
	margin: 10px;
	color: #ee3176;
}

img {
	/*width: 350px;*/
	/*margin-top: 60px;*/
	max-width: 200px;
	/*background-color: yellow;*/
	transition: all 1s ease;
}

img:hover {
	/*width: 350px;*/
	background: url(vector_lucibits_filled_gradient.svg) no-repeat;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 280px;
	/*transform: rotate(-45deg) scale(.9,.9);*/
	/*transition: transform 1s;*/

	animation: slide1 1s ease-in-out infinite;
	/*background-color: yellow;*/
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, -20px) rotate(-45deg) scale(.9,.9);
  }

  50% {
    transform: translate(0, 5px) rotate(-45deg) scale(.9,.9);
  }
}

}