* {  
  box-sizing: border-box;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /*overflow-x: hidden;*/
  /*border: 1px dashed red;*/
}

.logo {
  width: 10em;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #ee3176;
	font-style: italic;
}

h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 2em;
	font-weight: lighter;
	margin-top: 1em;
	color: #ee3176;
}

/*CONTAINERS*/
.wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.content {
	padding-top: 6em;
	text-align: center;
}

.right, .left {
	width: 100%;
}

.links {
	display: block;
	font-size: 2em;
	padding-right: 0.5em;
	padding-bottom: 1em;
}

/*FOOTER*/
.social-container {
	text-align: center;
	display: none;
}

.social-footer {
	text-align: center;
}

.fa-github, 
.fa-linkedin-in, 
.fa-codepen,
.fa-behance {
	margin: 10px;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

/*ANIMATION*/
img:hover {
	background: url(images/vector_lucibits_filled_gradient.svg) no-repeat;
	width: 10em;
	animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, -40px) rotate(-45deg) scale(.9,.9);
  }

  50% {
    transform: translate(0, 5px) rotate(-45deg) scale(.9,.9);
  }
}



@media screen and (min-width: 650px) {

	.logo {
  		width: 16em;
	}

	.right, .left {
		width: 50%;
		padding: 2em;
		margin-top: 10em;
	}

	.left {
		text-align: right;
		padding-right: 6em;
	}

	.links {
		display: block;
		text-align: left;
		font-size: 5.5em;
		padding: 0;
	}

	.social-container {
		text-align: left;
		display: block;
	}

	footer {
		display: none;
	}

/*ANIMATION*/
	img:hover {
		background: url(images/vector_lucibits_filled_gradient.svg) no-repeat;
		width: 16em;
		animation: slide1 1s ease-in-out infinite;
	}

	@keyframes slide1 {
	  0%,
	  100% {
	    transform: translate(0, -40px) rotate(-45deg) scale(.9,.9);
	  }

	  50% {
	    transform: translate(0, 5px) rotate(-45deg) scale(.9,.9);
	  }
	}

}
